.section {
  padding-top: 16px;
  margin-left: 18px;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.item a {
  color: black;

  transition: color 150ms linear;
}

.item a:hover {
  color: #2196f3;
}
